:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/*Header*/

.header {
  box-sizing: border-box;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  background-color: rgb(42, 94, 155);
}

button {
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1.5em;
  padding: 10px 28px;
  border-radius: 5px;
}

/*Content*/
