:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/*Header*/

.header {
  box-sizing: border-box;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  background-color: rgb(42, 94, 155);
}

button {
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1.5em;
  padding: 10px 28px;
  border-radius: 5px;
}

/*Content*/

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
}

h1 {
  margin: 0.5em 0 0 0;
  font-size: 2.5rem;
  background-color: rgb(42, 94, 155);
  color: white;
  padding: 1rem;
}

.content-container {
  width: 1000px;
  text-align: center;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: rgb(42, 94, 155);
  color: white;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.owner-img {
  height: 500px;
  width: 1000px;
  object-fit: cover;
  object-position: top;
}
